
.rules-container{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rules-container h1{
    font-size: 28px;
}

.rules-container p{
    color: white;
    font-size: 20px;
}